<h2>Sign up</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>
    <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
    <%= f.input :password_confirmation, required: true %>
    <%= f.label :type %>
    <%= f.select :type, ["Jew", "Goy"], required: true, autofocus: true, id: "user_type" %>
    <%= content_tag :div, class: 'js-dependent-fields', data: { 'select-id': 'user_type', 'option-value': 'Goy'} do %>
      <%= f.input :city, required: true, autofocus: true %>
      <%= f.input :name, required: true, autofocus: true %>
      <%= f.input :skills, autofocus: true, placeholder: "describe your shabess goy's skills"%>
      <%= f.input :price, required: true, autofocus: true %>
    <% end %>

  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign up" %>
  </div>
<% end %>
  <div class="btn">
    <%= render "devise/shared/links" %>
  </div>
