<h1>Bookings for <%=  @jew.name %></h1>

<% @bookings.each do |booking| %>
  <div class="booking-contain">
    <div class="booking-item" style="background-image: url('<%= image_path booking.goy.profile_picture %>');" >
    <p class="booking-goy"><%= booking.goy.name %></p>
    </div>
    <p class="booking-start"><%= booking.start_date %></p>
    <p class="booking-status"><%= booking.status %></p>
  </div>
<% end %>
