<h1>Bookings for <%= current_user.name %></h1>

<div class="booking-contain">
  <%= render 'shared/my_bookings' %>
</div>

<!-- Goys can set/view their availability -->
<% if current_user.class == Goy %>
  <div>
    <h2>Set Available Dates for <%= current_user.name %></h2>
    <%= render 'goys/set_availability_form' %>
  </div>

  <!-- Upcoming Availability -->
  <div>
    <h2>Edit Available Dates for <%= current_user.name %></h2>
  <%= render 'shared/upcoming_availability' %>
  </div>
<% end %>
