<div class="title">
    <div class="title-text">See the available Goys in <%= params[:city] %> between <%= params[:starting_date] %> and <%= params[:ending_date] %></div>
    <div class="title-btn"><%= link_to "edit search", root_path, class: "btn-gag"%></div>
    </div>
  <div class="row">
    <div class="col-xs-6 col-sm-4 col-md-3">
      <% @goys.each do |goy| %>
        <%= render 'components/card', name: goy.name, city: goy.city %>
      <% end %>
    </div>
  </div>

