<% content_for :above_container do %>

  <div class="profil-pic">
    <%= image_tag("#{@goy.profile_picture}", alt: "profile_picture", class: 'avatar') %>
  </div>

<% end %>

<div class="goy-profil">
  <div class="row">
    <div class="col-xs-12 col-md-2">
      <div class="contact">
        <h3> <%= @goy.name %></h3>
        <p><%= "#{@goy.address}"%></p>
        <br>
        <p><%= "#{@goy.phone_number}"%></p>
      </div>
    </div>
    <div class="col-xs-12 col-md-2">
      <div class="skills">
        <h3 class="light_subtext">Skills</h3>
        <p>I'll take care of all you Jews!</p>
      </div>
    </div>
    <div class="col-xs-12 col-md-2">
      <div class="price">
        <h3 class="light_subtext">Price</h3>
        <h4 class="bold_price"><%= number_to_currency(@goy.price) %></h4>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <!-- Upcoming Availability -->
      <%= render 'shared/upcoming_availability' %>
    </div>
  </div>
</div>
