<div class="goy_info">
  <div class="picture">
   <%= image_tag("#{@goy.profile_picture}", alt: "profile_picture", class: "avatar") %>
  </div>

  <div class="identity">
    <h2 class="name_title">
    <%= @goy.name %>
    </h2>
    <div class="contact">
      <p>
      <%= "ðŸš #{@goy.address}"%>
      <!-- NEED TO UPDATE MODEL TO HAVE JUST CITY CATEGORY -->
      <br>
      <%= "ðŸ“ž #{@goy.phone_number}"%>
      <!-- [HIDE NUMBER SO PPL MUST USE US] -->

    </p>
    </div>
    <div class="details">
      <div class="skills">
        <!-- I'll take care of your Jewish momma. I'll take care of your Jewish daddy. -->
        <div class="light_subtext">Skills</div>
        I'll take care of all you Jews!
        <!-- GOY SKILLS NEED TO BE ADDED TO THE MODEL -->

      </div>

      <div class="price">
        <div class="light_subtext">
            per Shabbat
          </div>
        <div class="bold_price">
          <%= number_to_currency(@goy.price) %>
        </div>

      </div>
    </div>

    <br>
    <!-- Button for booking temporary -->
    <div class="book">
      <%= link_to "Book NOW!", new_goy_booking_path(@goy), class: "btn-gag" %>
    </div>

<!--       <div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
></div> -->

    <!-- TO DO CALENDAR -->
    <!-- <div class="calendar">

      <h3>ðŸ“†Upcoming Availability</h3>
      <table class="table table-striped">
        <tbody>
          <tr>
            <td>This Shabbat</td>
            <td>Booked</td>
          </tr>
          <tr>
            <td>Next Shabbat</td>
            <td>Booked</td>
          </tr>
          <tr>
            <td>Next, Next Shabbat</td>
            <td>Available</td>
            <td>BOOK NOW !
              <div class="book">
                TO-DO BOOKING BUTTON
              </div>
            </td>
          </tr>
          <tr>
            <td>Next, Next, Next Shabbat</td>
            <td>Unavailable</td>
          </tr>
        </tbody>
      </table>
    </div> -->

  </div>
</div>


